<% content_for :title, "Welcome" %>
<%= render "/header" %>

<nav id="pages">
  <ul>
    <li><%= link_to "Posts", posts_path %></li>
    <li><%= link_to "Turbo Posts", turbo_frame_posts_path %></li>
  </ul>
</nav>
