<% content_for :title, "Pages" %>

<h1>Pages</h1>

<div id="pages">
  <p>
    <%= link_to "Posts", posts_path %>
  </p>
  <p>
    <%= link_to "Turbo Frame Posts", turbo_frame_posts_path %>
  </p>
</div>
