<% content_for :title, "Editing turbo frame post" %>
<%= render "/header" %>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to turbo frame posts", turbo_frame_posts_path %>
</div>
