<p style="color: green"><%= notice %></p>

<% content_for :title, "Turbo frame posts" %>

<h1>Turbo frame posts</h1>

<!-- NB: data-turbo-frame sets the target frame that will get new content based on the same frame in the response -->
<%= link_to "New turbo frame post", new_turbo_frame_post_path, data: { turbo_frame: dom_id(TurboFramePost.new) } %>

<%= turbo_frame_tag TurboFramePost.new do %>
  <!-- NB: we can remove the above link and replace with this one below for a frame to replace the link itself -->
  <%#= link_to "New turbo frame post", new_turbo_frame_post_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <!-- An aside: the following two are identical -->
    <!-- render partial: "quotes/quote", locals: { quote: @quote } -->
    <!-- render @quote -->

    <%= render "row", post: post %>
  <% end %>
</div>
