<p style="color: green"><%= notice %></p>

<% content_for :title, "Turbo frame posts" %>

<h1>Turbo frame posts</h1>

<%= turbo_frame_tag TurboFramePost.new do %>
  <%= link_to "New turbo frame post", new_turbo_frame_post_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render "turbo_frame_posts/post", post: post %>
  <% end %>
</div>
