<% content_for :title, "Posts" %>
<%= render "/header" %>

<%= link_to "New post", new_post_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
